<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <!-- 
        make favicon as icon circle looking like C and hands of clock in between
        where one pointing to 12 and one pointing to 10
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contests Schedule &bullet; AtCoder &bullet; LeetCode &bullet; CodeForces</title>
</head>

<body>
    <ul>
        {% for contest in contests %}
        <li>{{ contest.title }}</li>
        {% endfor %}
    </ul>
</body>

</html>